html,
body {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
}

.swiper-top,
.swiper-middle,
.swiper-bottom,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.main-content,
.container {
  width: 90vw;
  max-width: 1600px;
  margin: 0 auto;
}

.icon-down-arrow {
  width: 24px;
  height: 24px;
  position: relative;
}
.icon-down-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "▼";
  font-size: 10px;
}
