.section-guide {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.section-guide-intro-container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8vh 0;
  background-color: #fff;
}

.section-guide-intro-container .black-box {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1920px;
  height: 100%;
  background: #000;
}

.guide-intro-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 150px;
  margin-right: -55px;
  width: 950px;
  z-index: 99;
}

.shine-img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.shine-img img {
  position: absolute;
  top: -90px;
  right: 110px;
}

.guide-intro-title h2 {
  text-align: right;
  font-size: 52px;
  font-family: "GT Walsheim Pro";
  font-weight: 700;
  padding-right: 170px;
  margin-top: -35px;
}

.guide-scrolling-animation-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  max-width: 800px;
  padding: 15px 0;
  margin-top: 50px;
  font-size: 28px;
  font-family: "GT Walsheim Pro";
  font-weight: 700;
  border-radius: 100px;
  border: solid 1px white;
}

.guide-intro-img {
  position: relative;
  font-size: 120px;
  font-family: "GT Walsheim Pro";
  font-weight: 700;
  height: 100%;
  color: #000;
}

.guide-intro-background {
  position: relative;
  width: 1400px;
  height: 100%;
  background: url("/assets/se03_IMG01.jpg") no-repeat center/cover;
  overflow: hidden;
  color: #fff;
}

.guide-intro-img-text-container {
  position: absolute;
  right: 0;
  top: 100px;
  transform: translateX(547px);
  white-space: nowrap;
  z-index: 2;
}

.guide-intro-img .text-01 {
}

.guide-intro-img .text-01-02,
.text-03-01 {
  font-family: Garamond;
  font-weight: 700;
}

.guide-intro-img .text-02 {
  padding-left: 390px;
  margin: 20px 0 55px;
}

.guide-intro-img .text-03 {
  padding-left: 210px;
}

.guide-intro-img .text-03-01 {
  margin-right: 30px;
}

.guide-intro-img img {
  height: 100%;
}

.section-guide-content-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 270px;
  padding: 0px 200px;
  width: 100%;
  height: 100%;
  color: #000;
}

.intro-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 50px 30px;
  width: 620px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #000;
  backdrop-filter: blur(5px);
  text-align: center;
  z-index: 9;
}

.intro-box-text {
  height: 30%;
}

.intro-box-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60px;
  height: 32px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 100px;
}

.intro-box-title {
  font-size: 52px;
  font-family: "GT Walsheim Pro";
  font-weight: 500;
  margin: 10px 0 18px;
}

.intro-box-title span {
  font-family: Garamond;
  font-weight: 400;
}

.intro-box-body {
  font-family: Pretendard;
  font-wieght: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.025em;
  color: #666;
}

.intro-box-slide {
  position: relative;
  height: 70%;
  margin: 30px 0;
}

.intro-box-slide .swiper-wrapper,
.intro-box-slide .swiper-slide {
  width: 100%;
}

.intro-box-slide .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: auto;
}

.intro-box:not(:first-child) {
  margin-left: 60px;
}

.sticky-parent {
  height: 700vh !important;
}

.sticky {
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizontal {
  display: flex;
}
